.gradient{
	background: #B95C00; /* Old browsers */
	box-shadow: 0 0 7px rgba(0, 0, 0, .45);
}

.loginbox {
	opacity:0.6;
	background:#d8f69f;
}

.textboite{
	display: block;
	background-color: #ffffff;
	border-radius: 8px;
	font-size: x-small;
}

.boutonConnect{
	display: block;
	position: relative;
	background-color: #ffffff;
	height: 20px;
	width: 80px;
	border-radius: 8px;
	font-size: smaller;
	left: 25px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	.boutonConnect{
		left: 15px;
	}
}

.connexion{
	position: relative;
	top: 35px;
	right: 60px;
	z-index: 12;
}

html, body {
	background: #000000;
	background-position: center center;
	background-repeat: no-repeat; 
	background-attachment: fixed;
}
.leftmenuFontColor > li > a{
	color : rgba(109, 92, 13,1);
}

.Horiz{
	position: relative;
	top: -26px;
}

.leftMenu{
	position: relative;
	top: -26px;
	right: 12px;
}

.Article {
	background: #4E4E4E;	
	position: relative;
	top: -26px;
	right: 12px;
}

.Mentions {
	background: rgba(185,215,19,0.38);	
	position: relative;
	top: -26px;
}

.ListeArticle{
	background: rgba(185,215,19,0.38);
	position: relative;
	top: -26px;
}

.contenuWhite {
	background: #808080;
	
}

.headerImage {
    background-size:cover;
	height: 210px;
}

.bottom{
	position: relative;
	background-size:cover;
	width: 100%;
	height: 40px;
	text-align:center;
	padding-top: 15px;
	bottom: 20px;
}

.location{
	font-size: x-small;
}